window {
    margin: 0px;
    background-color: #1E1E2E;
    border-radius: 0px;
    color: #ebdbb2;
}

#input {
    border: 0px;
	border-radius: 0px;
    padding: 10px;
    margin: 0px;
    font-size: 16px;
	color: #ebdbb2;
	background-color: #1E1E2E;
}

#inner-box {
    padding: 8px 20px;
}

#entry {
    padding: 6px;
    margin: 2px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #458588;
}

#text {
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font;
}

